<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="USTF-8">
    <meta name="viewport" content="width=deivce-width">
    <title>Flask Website</title>
</head>

<body> 
<h1>Yoo guys</h1>
</body>
</html>

{% if cart %}
    <ul>
        {% for item, details in cart.items() %}
            <li>{{ item }}: {{ '%.2f' % details['quanilty'] }} x ${{details['price'] }} =
                ${{details['quanilty'] * details['price'] }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Your cart is empty</p>
{% endif %}