<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Flower Shop</title>
</head>

<body>

    <h1>Displaying JSON Flower Data</h1>

    <ul>
        {% for flower, detail in flowers.items() %}
            <li>
                {{ flower }} - ${{ detail.price }}
                (Stock: {{ detail.stock }})
            </li>
        {% endfor %}
    </ul>

    <h2>Add-ons Available</h2>

    <ul>
        {% for addon, detail in addons.items() %}
            <li>
                {{ addon }} - (${{ detail.price }})
            </li>
        {% endfor %}
    </ul>

</body>
</html>
